<div class="model-component">
    <p>Parametry modelu:</p>
    <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Pole podstawy:</mat-label>
          <input matInput type="number" (change)="pickModelParameters()"/>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Poziom zadany:</mat-label>
          <input matInput type="number" (change)="pickModelParameters()">
        </mat-form-field>
    </div>  
 </div>




