<div class="main-component">
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <div class="form-group">
                <label for="regulator">Wybierz regulator:</label>
                <select 
                    name="currentRegulator" 
                    id="regulator" 
                    class="form-control"
                    [(ngModel)]="currentRegulator"
                    (change)="onChangeCurrentRegulator()">
                    <option *ngFor="let type of possibleRegulatorTypes" [value]="type">{{ type }}</option>
                </select>
            </div>
          <model>
        </model>
          <div *ngIf="currentRegulator === 'PID'">
            <pid class="pid"></pid>
          </div>
          <div *ngIf="currentRegulator === 'FUZZY'">
            <fuzzy></fuzzy>
          </div>
          <div>
            <button mat-button color="primary" (click)="emptyTank()">Opróżnij zbiornik</button>
          </div>
          <div>
            <button mat-button color="primary" (click)="followingDemoStart()">Włącz prezentację nadążania</button>
          </div>
          <div>
            <button mat-button color="primary" (click)="followingDemoStop()">Wyłącz prezentację nadążania</button>
          </div>
        </div>
        <div class="column" style="background-color:#bbb;">
          <simulation id="simulation"></simulation>
          <chart></chart>
        </div>
      </div>
</div>

