<div class="main-component">

    

  <div class="row">
    <div  class="column">
      <simulation id="simulation"></simulation>
    </div>
    <div class="column">
      <chart></chart>
    </div>
  </div>
  <div class="row">
    
    <div class="big-column">

      <mat-tab-group>
        <mat-tab label="PID"> <pid class="pid"></pid> </mat-tab>
        <mat-tab label="Fuzzy"> <fuzzy></fuzzy> </mat-tab>
        <mat-tab label="Model"> <model></model> </mat-tab>
      </mat-tab-group>
    </div>
    <div class="small-column">
      <div class="field">
        <button mat-raised-button color="primary" (click)="emptyTank()">Opróżnij zbiornik</button>
      </div>
      <div class="field">
        <button mat-raised-button color="primary" (click)="followingDemoStart()">Włącz prezentację nadążania</button>
      </div>
      <div class="field">
        <button mat-raised-button color="primary" (click)="followingDemoStop()">Wyłącz prezentację nadążania</button>
      </div>
      <div class="field">
        <mat-label>Wybierz regulator:  </mat-label>
        <mat-slide-toggle (click)="switchRegulator()">{{currentRegulator}}</mat-slide-toggle>
      </div>
    </div>
  </div>

</div>

